In [15]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# import and transform CSV-file into pandas dataframe, inspect it 
StreetEasy= pd.read_csv('streeteasy.csv')
StreetEasy.head()

# remove unnecessary columns to use all relevant columns as features and store them in X
X= StreetEasy.drop(['rental_id','building_id','rent','neighborhood','submarket','borough','no_fee','has_doorman',],axis=1)
y= StreetEasy['rent']


# split the dataframe into training and test set
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size=0.8, test_size=0.2)

# build the model with Linear Regression
model=LinearRegression()
model.fit(x_train,y_train)
y_predict= model.predict(x_test)

#Define the column  names based on the features used during training
feature_names= X.columns.tolist()

# test the model for the following apartment https://streeteasy.com/rental/2177438
apartment_features=[[1,1,620,16,1,98,0,1,0,1,1,0]]
apartment_features_df= pd.DataFrame(apartment_features, columns=feature_names)
RentPrediction=model.predict(apartment_features_df)
print(RentPrediction)

# test the model's accuracy using the .score method
print(model.score(x_test,y_test))
# 73% is good! and the price estimate of 2300$ is pretty close to the 2000$ it costs now (February 26th 2023) or the 2170$ it cost 6 years ago

[2299.07925072]
0.7290216742340674

In [15]:
X.head()

,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym
0,0.0,1,480,9,2.0,17,1,1,0,0,1,1,0,1
1,2.0,2,2000,4,1.0,96,0,0,0,0,0,0,0,0
2,3.0,1,1000,4,1.0,106,0,0,0,0,0,0,0,0
3,1.0,1,916,2,51.0,29,0,1,0,1,1,1,0,0
4,1.0,1,975,3,8.0,31,0,0,0,1,1,1,0,1